In [3]:
pip install kafka-python

Collecting kafka-pythonNote: you may need to restart the kernel to use updated packages.

  Obtaining dependency information for kafka-python from https://files.pythonhosted.org/packages/75/68/dcb0db055309f680ab2931a3eeb22d865604b638acf8c914bedf4c1a0c8c/kafka_python-2.0.2-py2.py3-none-any.whl.metadata
  Downloading kafka_python-2.0.2-py2.py3-none-any.whl.metadata (7.8 kB)
Downloading kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
   ---------------------------------------- 0.0/246.5 kB ? eta -:--:--
   ------------- -------------------------- 81.9/246.5 kB 4.5 MB/s eta 0:00:01
   ---------------------------------------  245.8/246.5 kB 3.0 MB/s eta 0:00:01
   ---------------------------------------- 246.5/246.5 kB 2.5 MB/s eta 0:00:00
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
# from json import *
# import pandas as pd
# from time import sleep
# from kafka import KafkaProducer

In [1]:
from json import *
import pandas as pd
from time import sleep
from kafka import KafkaProducer

In [2]:
producer = KafkaProducer(bootstrap_servers='localhost:9092',
                         value_serializer=lambda x: dumps(x).encode('utf-8'))

In [3]:
df = pd.read_csv('auto-mpg.csv')

In [4]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [ ]:
while True:
    #data = df.sample(1).to_dict(orient='records')
    #producer.send('AutoMobile-Analysis', value = data)
    json_data = df.to_json(orient='records')
    producer.send('AutoMobile-Analysis', value=json_data)

In [ ]:
producer.flush()